.nav {
    height: 50px;
    padding: 10px;
    background: hsl(22, 68%, 49%);
    /* background: #b57fb3; */
    color:#fff;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
  
  .nav ul li a {
    margin: 5px 15px;
  }